.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-3.648000px;}
._2{margin-left:-2.544000px;}
._1{margin-left:-1.008000px;}
._b{width:1.008000px;}
._7{width:2.400000px;}
._a{width:3.600000px;}
._9{width:5.472000px;}
._c{width:6.480000px;}
._f{width:7.632000px;}
._3{width:9.744000px;}
._0{width:10.800000px;}
._5{width:13.344000px;}
._4{width:14.736000px;}
._d{width:16.464000px;}
._e{width:18.288000px;}
._8{width:22.032000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.000000px;}
.fs4{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:64.000000px;}
.fs3{font-size:80.000000px;}
.y2{bottom:16.382001px;}
.y1{bottom:35.399981px;}
.y2d{bottom:96.529984px;}
.y2c{bottom:110.328982px;}
.y2b{bottom:142.065005px;}
.y2a{bottom:189.668991px;}
.ye{bottom:195.619002px;}
.y29{bottom:205.536995px;}
.yd{bottom:220.991988px;}
.y28{bottom:221.404995px;}
.y27{bottom:237.272995px;}
.yc{bottom:246.365005px;}
.y26{bottom:253.140994px;}
.yb{bottom:271.737990px;}
.y25{bottom:284.876987px;}
.ya{bottom:297.111007px;}
.y24{bottom:330.412003px;}
.y23{bottom:344.210999px;}
.y9{bottom:347.857009px;}
.y22{bottom:358.010010px;}
.y21{bottom:371.809006px;}
.y20{bottom:385.608002px;}
.y1f{bottom:399.407005px;}
.y0{bottom:399.500000px;}
.y1e{bottom:413.206001px;}
.y1d{bottom:427.005005px;}
.y1c{bottom:440.804008px;}
.y1b{bottom:454.603008px;}
.y1a{bottom:468.402008px;}
.y19{bottom:482.201007px;}
.y18{bottom:511.867996px;}
.y17{bottom:525.666992px;}
.y36{bottom:528.725998px;}
.y16{bottom:539.465996px;}
.y35{bottom:542.524997px;}
.y8{bottom:550.201992px;}
.y15{bottom:553.264999px;}
.y34{bottom:558.392993px;}
.y14{bottom:567.063999px;}
.y33{bottom:574.261004px;}
.y13{bottom:580.862999px;}
.y12{bottom:594.661998px;}
.y7{bottom:613.994002px;}
.y32{bottom:619.796001px;}
.y11{bottom:626.397998px;}
.y31{bottom:633.595001px;}
.y6{bottom:639.367003px;}
.y30{bottom:647.394001px;}
.y2f{bottom:661.193000px;}
.y5{bottom:665.355000px;}
.y10{bottom:681.556001px;}
.y4{bottom:685.209000px;}
.y2e{bottom:692.929000px;}
.y3{bottom:705.063000px;}
.yf{bottom:706.929000px;}
.h2{height:26.856001px;}
.h3{height:29.326172px;}
.h8{height:32.531250px;}
.h9{height:33.351562px;}
.h7{height:37.953125px;}
.h5{height:38.910156px;}
.h4{height:43.375000px;}
.h6{height:55.585938px;}
.h1{height:169.000000px;}
.h0{height:792.000000px;}
.w1{width:169.500000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x10{left:72.000000px;}
.x7{left:90.000000px;}
.x3{left:93.433000px;}
.x9{left:107.523001px;}
.x4{left:108.996000px;}
.x5{left:124.949001px;}
.x11{left:126.000000px;}
.x8{left:191.139999px;}
.x6{left:198.000000px;}
.xa{left:235.460007px;}
.x0{left:239.000000px;}
.xf{left:242.554993px;}
.xe{left:278.132996px;}
.xb{left:288.940994px;}
.xd{left:294.212006px;}
.xc{left:301.000000px;}
.x2{left:312.212006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-4.864000pt;}
._2{margin-left:-3.392000pt;}
._1{margin-left:-1.344000pt;}
._b{width:1.344000pt;}
._7{width:3.200000pt;}
._a{width:4.800000pt;}
._9{width:7.296000pt;}
._c{width:8.640000pt;}
._f{width:10.176000pt;}
._3{width:12.992000pt;}
._0{width:14.400000pt;}
._5{width:17.792000pt;}
._4{width:19.648000pt;}
._d{width:21.952000pt;}
._e{width:24.384000pt;}
._8{width:29.376000pt;}
.fs0{font-size:58.666667pt;}
.fs4{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:85.333333pt;}
.fs3{font-size:106.666667pt;}
.y2{bottom:21.842668pt;}
.y1{bottom:47.199974pt;}
.y2d{bottom:128.706645pt;}
.y2c{bottom:147.105310pt;}
.y2b{bottom:189.420007pt;}
.y2a{bottom:252.891988pt;}
.ye{bottom:260.825336pt;}
.y29{bottom:274.049327pt;}
.yd{bottom:294.655984pt;}
.y28{bottom:295.206660pt;}
.y27{bottom:316.363993pt;}
.yc{bottom:328.486673pt;}
.y26{bottom:337.521325pt;}
.yb{bottom:362.317321pt;}
.y25{bottom:379.835982pt;}
.ya{bottom:396.148009pt;}
.y24{bottom:440.549337pt;}
.y23{bottom:458.947998pt;}
.y9{bottom:463.809345pt;}
.y22{bottom:477.346680pt;}
.y21{bottom:495.745341pt;}
.y20{bottom:514.144002pt;}
.y1f{bottom:532.542674pt;}
.y0{bottom:532.666667pt;}
.y1e{bottom:550.941335pt;}
.y1d{bottom:569.340007pt;}
.y1c{bottom:587.738678pt;}
.y1b{bottom:606.137344pt;}
.y1a{bottom:624.536011pt;}
.y19{bottom:642.934676pt;}
.y18{bottom:682.490662pt;}
.y17{bottom:700.889323pt;}
.y36{bottom:704.967997pt;}
.y16{bottom:719.287994pt;}
.y35{bottom:723.366662pt;}
.y8{bottom:733.602656pt;}
.y15{bottom:737.686666pt;}
.y34{bottom:744.523991pt;}
.y14{bottom:756.085332pt;}
.y33{bottom:765.681339pt;}
.y13{bottom:774.483999pt;}
.y12{bottom:792.882664pt;}
.y7{bottom:818.658670pt;}
.y32{bottom:826.394669pt;}
.y11{bottom:835.197330pt;}
.y31{bottom:844.793335pt;}
.y6{bottom:852.489338pt;}
.y30{bottom:863.192001pt;}
.y2f{bottom:881.590666pt;}
.y5{bottom:887.139999pt;}
.y10{bottom:908.741334pt;}
.y4{bottom:913.612000pt;}
.y2e{bottom:923.905333pt;}
.y3{bottom:940.084000pt;}
.yf{bottom:942.572000pt;}
.h2{height:35.808001pt;}
.h3{height:39.101562pt;}
.h8{height:43.375000pt;}
.h9{height:44.468750pt;}
.h7{height:50.604167pt;}
.h5{height:51.880208pt;}
.h4{height:57.833333pt;}
.h6{height:74.114583pt;}
.h1{height:225.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:226.000000pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x10{left:96.000000pt;}
.x7{left:120.000000pt;}
.x3{left:124.577333pt;}
.x9{left:143.364001pt;}
.x4{left:145.328000pt;}
.x5{left:166.598668pt;}
.x11{left:168.000000pt;}
.x8{left:254.853333pt;}
.x6{left:264.000000pt;}
.xa{left:313.946676pt;}
.x0{left:318.666667pt;}
.xf{left:323.406657pt;}
.xe{left:370.843994pt;}
.xb{left:385.254659pt;}
.xd{left:392.282674pt;}
.xc{left:401.333333pt;}
.x2{left:416.282674pt;}
}
